<?php
/**
 * Copy to app/etc/env.php and edit for your server.
 *   cp app/etc/env.php.sample app/etc/env.php
 */
return [
    'backend' => [
        'frontName' => 'admin',
    ],
    'crypt' => [
        'key' => 'CHANGE_ME_GENERATE_RANDOM_32_CHAR_KEY',
    ],
    'db' => [
        'table_prefix' => '',
        'connection' => [
            'default' => [
                'host' => 'localhost',
                'dbname' => 'qgcyetztur',
                'username' => 'db_user',
                'password' => 'db_password',
                'model' => 'mysql4',
                'engine' => 'innodb',
                'active' => '1',
                'driver_options' => [
                    1014 => false,
                ],
            ],
        ],
    ],
    'resource' => [
        'default_setup' => [
            'connection' => 'default',
        ],
    ],
    'x-frame-options' => 'SAMEORIGIN',
    'MAGE_MODE' => 'production',
    'session' => [
        'save' => 'files',
    ],
    'cache' => [
        'frontend' => [
            'default' => [
                'id_prefix' => 'cc_',
            ],
            'page_cache' => [
                'id_prefix' => 'cc_',
            ],
        ],
    ],
    'lock' => [
        'provider' => 'db',
    ],
    'directories' => [
        'document_root_is_pub' => true,
    ],
    'system' => [
        'default' => [
            'catalog' => [
                'search' => [
                    'engine' => 'opensearch',
                    'opensearch_server_hostname' => 'localhost',
                    'opensearch_server_port' => '9200',
                    'opensearch_index_prefix' => 'magento2',
                    'opensearch_enable_auth' => '0',
                ],
            ],
        ],
    ],
    'downloadable_domains' => [
        'your-staging-domain.com',
    ],
];
