<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Category">
        <plugin name="curvesandcarvings_gallery_category_url"
                type="Curvesandcarvings\Theme\Plugin\Catalog\Category\UrlPlugin"/>
    </type>
    <type name="Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection">
        <plugin name="curvesandcarvings_broaden_sku_search"
                type="Curvesandcarvings\Theme\Plugin\CatalogSearch\Model\ResourceModel\Fulltext\BroadenSkuSearchCollectionPlugin"/>
    </type>
    <type name="Magento\Checkout\Controller\Cart\Add">
        <plugin name="curvesandcarvings_buy_now_redirect"
                type="Curvesandcarvings\Theme\Plugin\Checkout\Cart\AddBuyNowRedirectPlugin"/>
    </type>
    <type name="Magento\PageBuilder\Block\GoogleMapsApi">
        <plugin name="curvesandcarvings_google_maps_api_key_guard"
                type="Curvesandcarvings\Theme\Plugin\PageBuilder\GoogleMapsApiKeyGuardPlugin"/>
    </type>
</config>
