<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="cc_variation_images" xsi:type="array">
                    <item name="class" xsi:type="string">Curvesandcarvings\Variations\Ui\DataProvider\Product\Form\Modifier\VariationImagesPanel</item>
                    <item name="sortOrder" xsi:type="number">150</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Swatches\Model\AttributesList">
        <plugin name="cc_variations_enable_create_option_for_text_swatch"
                type="Curvesandcarvings\Variations\Plugin\Swatches\AttributesListPlugin"
                sortOrder="10"/>
    </type>

    <type name="Magento\ConfigurableProduct\Controller\Adminhtml\Product\Attribute\CreateOptions">
        <plugin name="cc_variations_create_options_text_swatch"
                type="Curvesandcarvings\Variations\Plugin\ConfigurableProduct\CreateOptionsPlugin"
                sortOrder="10"/>
    </type>
</config>
